/* SOLARIZED DARK */
:root {
    --my-black: #002b36;
    --my-blue: #073642;
    --my-light-blue: #268bd2;
    --my-cyan: #2aa198;
    --my-green: #859900;
    --my-dark-gray: #586e75;
    --my-light-gray: #657b83;
    --my-lighter-gray: #839496;
    --my-white: #eee8d5;
    --my-light-white: #fdf6e3;
    --my-red: #dc322f;
    --my-magenta: #d33682;
    --my-violet: #6c71c4;
    --my-orange: #cb4b16;
    --my-yellow: #b58900;
}

::-webkit-scrollbar {
    display: none;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--my-blue);
    color: var(--my-white);
    font-family:  "VT323", monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    caret-color: transparent;
}

#logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom:0;
}

.hidden-audio {
    display: none;
}

h1 {
    font-size:3em;
    margin: 0.1em;
    margin-right:0.1em;
    text-shadow: 0 0 10px black;
}

#logo {
    width: 2rem;
    height: 2rem;
}

.score-area {
    display: flex;
    justify-content: center;
    background-color: var(--my-blue);
    font-size: 2rem;
}

.score {
    margin-left: 0.5rem;
    color: var(--my-light-white);
}

.score-zoom {
    animation-name: zoom-in;
    animation-duration: 1s;
    font-size:5rem;
}

@keyframes zoom-in {
    from {
      font-size: 2rem;
    }
    to {
      font-size: 5rem;
    }
}

#game-container {
    background-color: var(--my-dark-gray);
}

#game-grid {
    box-shadow: 10px 5px 5px var(--my-black);
    position:relative;
    background-color: var(--my-black);
    display: grid;
    grid-template-columns: repeat(40, 1.5em);
    grid-template-rows: repeat(30, 1.5em);
}

#splash-bonus, #splash-score {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    min-width:100%;
    min-height:100%;
    z-index: 2;
}

.blur-win {
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    min-width:100%;
    min-height:100%;
    z-index: 1;
    background-color: var(--my-black);
    filter: blur(1px);
    opacity: 95%;
}

.bonus-text {
    z-index: 2;
    color: rgba(255,255,255,1);
    font-size: 10rem;
    visibility: hidden;
}

.score-form {
    position: absolute;
    display: grid;
    grid-template-rows: 1fr 1fr 6fr 2fr;
    grid-template-columns: 1fr 3fr;
    z-index: 2;
    color: rgba(255,255,255,1);
    width: 100%;
    height: 100%;
    visibility: hidden;
}

.player-score-pane {
    margin-top: 0.5em;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 3;
    min-width: 100%;
    overflow-y: scroll;
    scrollbar: hidden;
    scroll-snap-type: y mandatory;
}

.score-reveal {
    visibility: visible;
    animation-name: fade-in;
    animation-duration: 1.5s;
}

@keyframes fade-in {
    from {
	opacity: 0%;
    }
    to {
	opacity: 100%;
    }
}

#high-score-left {
    display: grid;
    grid-template-rows: repeat(11, 1fr);
}

.left-score-entry {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid var(--my-light-white);
    border-bottom: 1px solid var(--my-light-white);
    border-radius: 6px;
    box-sizing: border-box;
    margin:3px;
    font-size: 2em;
    scroll-snap-align: start;
}

.left-score-title {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 2px solid var(--my-light-white);
    border-bottom: 2px solid var(--my-light-white);
    background-color: var(--my-dark-gray);
    border-radius: 6px;
    margin:3px;
    font-size: 2em;
}

#high-score-right {
    display: grid;
    grid-template-rows: repeat(11, 1fr);
}

.right-score-entry {
    scroll-snap-align: start;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid var(--my-light-white);
    border-bottom: 1px solid var(--my-light-white);
    border-radius: 6px;
    box-sizing: border-box;
    margin:3px;
    font-size: 2em;
}

.right-score-title {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 2px solid var(--my-light-white);
    border-bottom: 2px solid var(--my-light-white);
    border-radius: 6px;
    margin:3px;
    font-size: 2em;
}

.right-score-entry:hover, .left-score-entry:hover {
    background-color: var(--my-green);
}

#high-score-input {
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 3;
    border-top: 2px solid var(--my-light-white);
    border-bottom: 2px solid var(--my-light-white);
    border-radius: 6px;
    margin: 1em;
    display: grid;
    grid-template-columns: 1fr 3fr;
}

#high-score-input-prompt {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4em;
    color: var(--my-light-white);
}

.play-again {
    visibility: hidden;
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 3;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4em;
    color: var(--my-light-white);
    border: 2px solid var(--my-light-white);
    border-radius: 6px;
    font-size: 3em;
    background-color: var(--my-green);
    color: var(--my-light-white);
}

#play-again-submit {
    border: none;
    background: transparent;
    font-size: 2em;
    text-shadow: 0 0 10px black;
    color: var(--my-light-white);
    font-family:  "VT323", monospace;
}

#play-again-submit:focus {
    outline: none;
    box-shadow: none;
}

.play-again-reveal {
    visibility: visible;
    animation-name: fade-in;
    animation-duration: 0.5s;
}

.score-reveal {
    visibility: visible;
    animation-name: fade-in;
    animation-duration: 1.5s;
}

#high-score-input-form {
    display: flex;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 0.5em;
    align-items: center;
    justify-content: center;
}

form input[type="text"] {
    text-transform: uppercase;
}

#score-input {
    background: transparent;
    font-size: 5em;
    color: var(--my-light-white);
    font-family:  "VT323", monospace;
    width: 15ch; /* <--- DONT FORGET!!!! */
    border: none;
    border-bottom: 1px solid var(--my-light-white);
    color: var(--my-green);
    letter-spacing: 0.5ch;
    margin-right:0.5em;
}

#score-input:focus, #score-submit:focus {
    outline: none;
    caret-color: var(--my-green);
    caret-shape: block; /* Not yet implemented by most browsers */
}

#score-submit {
    border: none;
    background: transparent;
    font-size: 3em;
    color: var(--my-green);
    font-family:  "VT323", monospace;
}

#score-submit:hover {
    background-color: var(--my-green);
    color: var(--my-light-white);
}

#high-score-game-over {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5rem;
    color: var(--my-red);
    text-shadow: 5px 0 0 black;
}

@keyframes bonus-splash {
    from {
	visibility: visible;
	font-size: 1rem;
	opacity: 100%;
    }
    25% {
	color: var(--my-green);
    }
    75% {
	color: var(--my-red);
	opacity: 75%;
    }
    to {
	color: var(--my-light-blue);
	opacity: 0%;
	font-size: 10rem;
    }
}

.show-bonus {
    visibility: hidden;
    animation-name: bonus-splash;
    animation-duration: 1s;
}

.occupied {
    /* border: 1px solid var(--my-white); */
    background-color: var(--my-violet);
    border-radius: 50px;
    border-radius: 50px;
}

.unoccupied {
    /* border: 1px solid var(--my-white); */
    background-color: var(--my-black);
}

.bonus-apple {
    animation-name: bonus-animation;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.regular-apple {
    background-color: var(--my-light-white);
    border-radius: 50px;
    animation-name: apple-animation;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes apple-animation {
    from {
	transform: scale(1);
	opacity: 100%;
    }
    50% {
	transform: scale(0.75);
	opacity: 50%;
	background-color: var(--my-light-blue);
    }
    to {
	transform: scale(1);
	opacity: 100%;
    }
}

@keyframes bonus-animation {
    from {
	background-color: var(--my-red);
	transform: rotate(30deg) scale(0.5);
	border-radius: 0px;
    }
    25% {
	background-color: var(--my-yellow);
	transform: rotate(10deg) scale(1.2);
	border-radius: 5px;
    }
    50% {
	background-color: var(--my-green);
	transform: rotate(60deg) scale(0.1);
	border-radius: 10px;
    }
    75% {
	background-color: var(--my-cyan);
	transform: rotate(75deg) scale(0.5);
	border-radius: 25px;
    }
    to {
	background-color: var(--my-green);
	transform: rotate(90deg) scale(1);
	border-radius: 50px;
    }
}

.new-highlight {
    background-color: var(--my-green);
    animation-name: highlight-anim;
    animation-duration: 0.5s;
}

@keyframes highlight-anim {
    from {transform: scale(0.5)}
    to {transform: scale(1)}
}

#button-bar {
    padding:1em;
    background-color: var(--my-blue);
    display:flex;
    justify-content:center;
}
